nav > .container {
  position: static;
}

nav .logo {
  position: relative;
}

/* Botão Pular para Conteúdo Principal */

nav .logo .pularNavegacao {
background-color: #85A3C2;
color: black;
}

/* Caixa do Logotipo */

nav .logo img {
  background-color: #336698;
}

/* Botões do Navbar */

nav .nav-link {
  color: white;
  background-color: #336698;
}

nav .nav-link:focus,
nav .nav-link:hover,
nav .nav-link[aria-expanded="true"] {
  background-color: #336698;
  color: white;
}

nav .dropdown-menu {
  /* background-color: #85A3C2; */
  border: 1px solid #336698;
  margin-top: 0;
}

nav .dropdown-menu .jssocials-share-link {
  /* color: #336698; */
}

/* Rodapé */
footer .btn {
  white-space: nowrap;
}

footer, footer .aval-rea .btn-secondary {
  /* background-color: white;
  color: #354551; */
}

footer .aval-rea .btn-secondary {
    border: 1px solid white;
}

footer .cred-rea span:not(:last-child) {
  border-right: 1px solid white;
}

/* Main */

main {
  padding-top: 1rem;
  padding-bottom: 0;
}

@media only screen and (max-width: 991.98px) {

  main {
    padding-bottom: 2rem;
  }

}
